@charset "UTF-8";
/*aparelho deitado*/

body{
    background-color:#233eff;
    background-image: url(../imagem/cev-landscape.jpg);
    background-position: left bottom;
}

h1{
    text-align: center;
}
