@charset "UTF-8";

/* aparelho em pe*/

body{
    background-color: #233eff;
    background-position: center bottom;
}

h1{
    text-align: center;
    color: aliceblue;
}

body{
    background-image: url(../imagem/cev-portrait.jpg);
}