@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    height: 100vh;
    width: 100vw;
    background-color: black;
   
}
main{
   height: 100vh;
    position: relative;
}

body{
   background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
   background-size: cover;
   background-attachment: fixed;
   
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 620px;
    width: 310px;
    background: url('../imagens/frame-iphone.png') no-repeat;
}

iframe#tela{ 
    position: relative;
    top: 80px;
    left: 22px;
    width: 270px;
    height: 470px;



}

section#redesocial img{

    width: 50px;
    margin: 10px;
    border-radius: 50%;


}

section#redesocial{

    text-align: right;
}



section#redesocial :hover{
   transform: translate(-3px, 3px);
   transition: transform 0.6s;

}

    