@charset "UTF-8";

body{
    background-color: darkcyan;
    font-family: Arial, Helvetica, sans-serif;
}

header,h1{
    color: aliceblue;
    text-align: center;
    
}

section{
    background-color: aliceblue;
    width: 500px;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.405);

}

footer{
    text-align: center;
    margin: 30px;
    color: aliceblue;
}

#msg{
    margin-bottom: 20px;
    text-align: center;

}

#foto{
    display: block;
    margin: auto;
    width: 300px;
    border-radius: 200px;
}
