@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@1&display=swap');
*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: 'Cabin', sans-serif;
}

header{
    background-color: black;
    color: aliceblue;
    height: 150px;
    text-align: center;

}

h1{
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
    font-family: 'Alfa Slab One', cursive;
    font-weight: 200;
}

header > p{
    margin-top: 30px;
}

a {
    color: aliceblue;
    font-weight: bolder;
}
a:hover{

 text-decoration: underline;
 background-color: aliceblue;
 color: black;
 border-radius: 5px;
 padding: 5px;

}

main{
    min-width: 280px;
    max-width: 1700px;
    margin: auto;

}

section{
   font-size: 30px;
   padding: 25px;
   margin-top: 40px;
   font-weight: bold;

}

.img1{
    background-image: url(imagens/background001.jpg);
    background-position: center,center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 40vh;
    color: aliceblue;

}

.texto1{

    margin-top: 55px;
    background-color: rgba(0, 0, 0, 0.463);
    width: 420px;
    padding: 15px;
    font-weight: bold;

}

.img2{

    background-image: url(imagens/background002.jpg);
    background-position: center,center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 40vh;
    color: aliceblue;
}
.texto2{
    margin-top: 55px;
    background-color: rgba(0, 0, 0, 0.606);
    width: 420px;
    padding: 15px;

}


footer{
    background-color: black;
    height: 50px;
    color: aliceblue;
    text-align: center;
   
}

footer>p{
    padding-top: 20px;
    font-weight: bolder;
}
