@charset "UTF-8";
*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: black;
    color: aliceblue;
    height: 150px;
    text-align: center;

}

h1{
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
}

header > p{
    margin-top: 30px;
}

a {
    color: aliceblue;
    font-weight: bolder;
}
a:hover{

 text-decoration: underline;
 background-color: aliceblue;
 color: black;
 border-radius: 5px;
 padding: 5px;

}

main{
    min-width: 280px;
    max-width: 1700px;
    margin: auto;

}

section{
   font-size: 30px;
   padding: 30px;

}

.img1{
    background-image: url(imagens/background001.jpg);
    background-position: center,center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 40vh;
    color: aliceblue;


}

.img2{

    background-image: url(imagens/background002.jpg);
    background-position: center,center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 40vh;
    color: aliceblue;


}

footer{
    background-color: black;
    height: 50px;
    color: aliceblue;
    text-align: center;
   
}

footer>p{
    padding-top: 20px;
    font-weight: bolder;
}
