@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
body,html{
    background-color: lightgray;
}

header{
    background-color: gray;

}

header>h1{
    text-align: center;
    padding: 10px;
}

span#burguer{

    background-color: rgb(59, 57, 57);
    color: aliceblue;
    display: block;
   text-align: center;
   padding: 10px;
}

span#burguer:hover{
    background-color: aliceblue;
    color: rgb(42, 42, 42);
}

nav{
    display: none;
}

ul{

    list-style-type: none;


}

a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: lightslategrey;
    color: aliceblue;
    border-top: 2px solid aliceblue;
} 

a:hover{
    background-color: aliceblue;
    border-top: 2px solid rgb(137, 136, 136);
    color: lightslategrey;
}

main{
    width: 80vw;
    background-color: aliceblue;
    margin: auto;
    padding: 10 px;
    border-radius: 10px;
    margin-top: 5px;
}

h2{
    padding-bottom: 10px;
}

article >p{
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 10px;

}